<a href="https://colab.research.google.com/github/Hemant9785/BHU-Hospital/blob/main/air_pollution__random%20forest%20regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [116]:
df = pd.read_csv('/content/AirQuality.csv')

In [117]:
df.iloc[0:5]

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10-03-2004,18:00:00,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,10-03-2004,19:00:00,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,10-03-2004,20:00:00,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,10-03-2004,21:00:00,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,10-03-2004,22:00:00,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888

In [118]:
data = df.drop(['Date','Time'],axis=1)

In [119]:
data.iloc[0:5]

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2.6,1360,150,11.9,1046,166,1056,113,1692,1268,13.6,48.9,0.7578
1,2.0,1292,112,9.4,955,103,1174,92,1559,972,13.3,47.7,0.7255
2,2.2,1402,88,9.0,939,131,1140,114,1555,1074,11.9,54.0,0.7502
3,2.2,1376,80,9.2,948,172,1092,122,1584,1203,11.0,60.0,0.7867
4,1.6,1272,51,6.5,836,131,1205,116,1490,1110,11.2,59.6,0.7888

In [120]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CO(GT)         9357 non-null   float64
 1   PT08.S1(CO)    9357 non-null   int64
 2   NMHC(GT)       9357 non-null   int64
 3   C6H6(GT)       9357 non-null   float64
 4   PT08.S2(NMHC)  9357 non-null   int64
 5   NOx(GT)        9357 non-null   int64
 6   PT08.S3(NOx)   9357 non-null   int64
 7   NO2(GT)        9357 non-null   int64
 8   PT08.S4(NO2)   9357 non-null   int64
 9   PT08.S5(O3)    9357 non-null   int64
 10  T              9357 non-null   float64
 11  RH             9357 non-null   float64
 12  AH             9357 non-null   float64
dtypes: float64(5), int64(8)
memory usage: 950.4 KB

In [121]:

# data_ = data.drop(['Gas'],axis=1)
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))
X = scaler.fit_transform(data)
X = pd.DataFrame(X,columns=data.columns)
X

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,0.956111,0.696429,0.251980,0.803565,0.516156,0.217987,0.435657,0.579630,0.635966,0.539111,0.873262,0.862141,0.992715
1,0.953280,0.666071,0.224622,0.794084,0.478459,0.180465,0.476587,0.540741,0.591261,0.430408,0.872036,0.857984,0.992556
2,0.954224,0.715179,0.207343,0.792567,0.471831,0.197141,0.464794,0.581481,0.589916,0.467866,0.866312,0.879806,0.992678
3,0.954224,0.703571,0.201584,0.793326,0.475559,0.221560,0.448144,0.596296,0.599664,0.515241,0.862633,0.900589,0.992858
4,0.951392,0.657143,0.180706,0.783087,0.429163,0.197141,0.487340,0.585185,0.568067,0.481087,0.863451,0.899203,0.992869
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,0.958471,0.675893,0.000000,0.809632,0.538940,0.400238,0.256330,0.722222,0.529076,0.708410,0.907195,0.794250,0.992710
9353,0.955168,0.608482,0.000000,0.801669,0.508285,0.329363,0.278876,0.701852,0.492101,0.539479,0.917007,0.774853,0.992488
9354,0.955168,0.599107,0.000000,0.805461,0.523198,0.293627,0.278529,0.694444,0.484370,0.474477,0.927637,0.756148,0.992136
9355,0.953752,0.537054,0.000000,0.794463,0.480944,0.259083,0.312869,0.659259,0.417143,0.356225,0.933361,0.739522,0.991509
9356,0.954224,0.567411,0.000000,0.803565,0.516570,0.276951,0.296219,0.681481,0.446723,0.373118,0.934178,0.738136,0.991454

In [122]:
Y = X['NO2(GT)']
Y = Y.values
X_ = X.drop(['NO2(GT)'],axis=1)
X_  = X_.values

In [123]:
# split data into training and testing sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_, Y, test_size = 0.35, random_state = 0)

In [124]:
# Take Logarithm of the num_orders to reduce the amount of impact by outliers
def log(y):
  y1 = []
  for i in range(len(y)):
    y1.append(0.000000011+y[i])
  return np.array(y1)
y_train = log(y_train)
y_test = log(y_test)
y_train = np.log10(y_train)
y_test = np.log10(y_test)

In [125]:
reg = RandomForestRegressor(n_estimators=10, max_depth=5, n_jobs=-1, warm_start=True)
reg.fit(X_train,y_train)

# Calculate Training and Test Accuracy
training_accuracy = reg.score(X_train, y_train)
test_accuracy = reg.score(X_test, y_test)

In [126]:
print(test_accuracy,training_accuracy)

0.9957097112590524 0.9994067021105858

In [127]:
# Calculate Root mean squared error
from sklearn.metrics import mean_squared_error
rmse_train = np.sqrt(mean_squared_error(reg.predict(X_train),y_train))
rmse_test = np.sqrt(mean_squared_error(reg.predict(X_test),y_test))
print("Training Accuracy = %0.3f, Test Accuracy = %0.3f, RMSE (train) = %0.3f, RMSE (test) = %0.3f" % (training_accuracy, test_accuracy, rmse_train, rmse_test))

Training Accuracy = 0.999, Test Accuracy = 0.996, RMSE (train) = 0.071, RMSE (test) = 0.193